flask-cors == 4.0.0
gunicorn == 20.1.0
Flask == 3.0.2
Werkzeug == 3.0.2
cryptography == 3.4.8
psycopg2 == 2.9.9
psycopg2-binary == 2.9.9
Flask-Bcrypt == 1.0.1
PyJWT == 2.8.0
Flask-Mail==0.9.1
pytz == 2024.1
SQLAlchemy == 1.4.39
schedule == 1.2.2
eventlet == 0.36.1
Flask-SocketIO == 5.3.6
user-agents == 2.2.0
requests == 2.32.3

