<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Forgot Password - iSharee</title>
		<link
			rel="shortcut icon"
			href="/static/assets/images/favicon.ico"
			type="image/x-icon" />
		<link rel="stylesheet" href="/static/css/auth.css" />
		<link
			href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
			rel="stylesheet" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
	</head>
	<body>
		<div class="container">
			<div class="wrp">
				<h2>Forgot your password?</h2>
				<hr />
				<form action="/forgot_password" method="post">
					<p>
						If the account exist, we will email you instructions to reset the
						password.
					</p>
					<div class="form-group">
						<input
							autocomplete=""
							type="email"
							class="form-control"
							id="email"
							name="email"
							placeholder=""
							required />
						<label for="email" class="grp-lbl">Enter your Email</label>
					</div>
					<button type="submit" class="btn btn-primary" id="btn-primary">
						Next
					</button>

					<div id="btn-l" class="btn-l">
						<span>Remembered your password? </span>
						<a href="/login">Return to login</a>
					</div>

					<div class="message-container" style="display: none">
						{% with messages = get_flashed_messages(with_categories=true) %} {%
						if messages %}
						<ul>
							{% for category, message in messages %} {% if category ==
							'forgotpassword_info' or category == 'forgotpassword_error' %}
							<li class="{{ category }}">{{ message }}</li>
							{% endif %} {% endfor %}
						</ul>
						{% endif %} {% endwith %}
					</div>
				</form>
			</div>
		</div>
		<footer>
			<div class="footer-bottom">
				<p>&copy; 2024 iSharee. All rights reserved.</p>
			</div>
		</footer>
	</body>
</html>
