<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Reset Password - iSharee</title>
		<link rel="shortcut icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/static/css/auth.css" />
		<link
			href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
			rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<div class="left-wrp">
				<h2>Reset Password</h2>
				<div class="lft-group-cn">
					<p>
						Forgot your password? No worries! Enter your new password below.
					</p>

					<div class="left-center-cn">
						<ul class="LeftSide_featuresList">
							<h2>iSharee</h2>
							<li>
								<div class="LeftSide_checkIconContainer">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 16 16"
										width="1em"
										height="1em"
										fill="currentColor"
										class="LeftSide_checkIcon__1WQ4A">
										<path
											d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
									</svg>
								</div>
								Seamless file sharing
							</li>
							<li>
								<div class="LeftSide_checkIconContainer">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 16 16"
										width="1em"
										height="1em"
										fill="currentColor"
										class="LeftSide_checkIcon__1WQ4A">
										<path
											d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
									</svg>
								</div>
								Free to use
							</li>
							<li>
								<div class="LeftSide_checkIconContainer">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 16 16"
										width="1em"
										height="1em"
										fill="currentColor"
										class="LeftSide_checkIcon__1WQ4A">
										<path
											d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
									</svg>
								</div>
								Secure file sharing
							</li>
						</ul>
						<div class="img-container">
							<img src="/static/assets/images/images.png" />
						</div>
					</div>
				</div>
				<div class="left-bottom-cn"></div>
			</div>
			<div class="right-wrp">
				<div class="logo">
					<img src="/static/assets/images/logo.png" alt="" />
				</div>
				<h2>Reset Password</h2>
				<hr />
				<form action="/login" method="post">
					<div class="form-group">
						<p>
							Forgot your password? <br />
							No worries! Enter your new password below...
						</p>
					</div>
					<div class="form-group">
						<input
							type="password"
							class="form-control"
							id="password"
							name="new_password"
							placeholder=""
							required />
						<label for="password" class="grp-lbl">New Password</label>
						<i class="bx bxs-hide password-toggle" data-target="password"></i>
					</div>
					<div class="form-group">
						<input
							type="password"
							class="form-control"
							id="confirm-password"
							name="confirm-password"
							placeholder=""
							required />
						<label for="confirm-password" class="grp-lbl"
							>Confirm Password</label
						>
						<i
							class="bx bxs-hide password-toggle"
							data-target="confirm-password"></i>
					</div>

					<div class="indicator">
						<div class="icon-text">
							<i class="fas fa-exclamation-circle error_icon"></i>
							<h6 class="text"></h6>
						</div>
					</div>

					<button type="submit" class="btn btn-primary-l" id="btn-primary-l">
						Reset Password
					</button>
				</form>

				<div class="message-container">
					{% with messages = get_flashed_messages(with_categories=true) %} {% if
					messages %}
					<ul>
						{% for category, message in messages %} {% if
						category.startswith('resetpassword_') %}
						<li class="{{ category }}">{{ message }}</li>
						{% endif %} {% endfor %}
					</ul>
					{% endif %} {% endwith %}
				</div>
			</div>
			<footer>
				<div class="footer-bottom">
					<p>&copy; 2024 iSharee. All rights reserved.</p>
				</div>
			</footer>
		</div>

		<script>
			document.addEventListener("DOMContentLoaded", () => {
				const passwordToggles = document.querySelectorAll(".password-toggle");

				passwordToggles.forEach((toggle) => {
					toggle.addEventListener("click", () => {
						const targetId = toggle.dataset.target;
						const passwordInput = document.getElementById(targetId);

						if (passwordInput.type === "password") {
							passwordInput.type = "text";
							toggle.classList.remove("bxs-hide");
							toggle.classList.add("bxs-show");
						} else {
							passwordInput.type = "password";
							toggle.classList.remove("bxs-show");
							toggle.classList.add("bxs-hide");
						}
					});
				});
			});

			// Password strength indicator
			let alphabet = /[a-zA-Z]/,
				numbers = /[0-9]/,
				scharacters = /[!,@,#,$,%,^,&,*,?,_,(,),-,+,=,~]/;

			let input = document.getElementById("password");
			let indicator = document.querySelector(".indicator");
			let text = document.querySelector(".text");
			// let showHide = document.getElementById("togglePassSignup");
			let iconText = document.querySelector(".icon-text");

			input.addEventListener("keyup", () => {
				indicator.classList.add("active");
				let val = input.value;
				if (
					val.match(alphabet) ||
					val.match(numbers) ||
					val.match(scharacters)
				) {
					text.textContent = "Your Password is Weak \u{1F614}";
					input.style.borderColor = "#FF6333";
					// showHide.style.color = "#FF6333";
					iconText.style.color = "#FF6333";
				}
				if (val.match(alphabet) && val.match(numbers) && val.length >= 6) {
					text.textContent = "Medium Password";
					input.style.borderColor = "#cc8500";
					// showHide.style.color = "#cc8500";
					iconText.style.color = "#cc8500";
				}
				if (
					val.match(alphabet) &&
					val.match(numbers) &&
					val.match(scharacters) &&
					val.length >= 8
				) {
					text.textContent = "Password is strong";
					input.style.borderColor = "#22C32A";
					// showHide.style.color = "#22C32A";
					iconText.style.color = "#22C32A";
				}
				if (val == "") {
					indicator.classList.remove("active");
					input.style.borderColor = "#A6A6A6";
					// showHide.style.color = "#A6A6A6";
					iconText.style.color = "#A6A6A6";
				}
			});

			document.addEventListener("DOMContentLoaded", () => {
				const passwordInput = document.getElementById("password");
				const confirmPasswordInput =
					document.getElementById("confirm-password");
				const indicator = document.querySelector(".indicator");
				const errorText = document.querySelector(".text");

				confirmPasswordInput.addEventListener("keyup", () => {
					const password = passwordInput.value;
					const confirmPassword = confirmPasswordInput.value;

					if (password !== confirmPassword) {
						indicator.classList.add("active");
						errorText.textContent = "Passwords do not match";
						confirmPasswordInput.style.borderColor = "#FF6333";
					} else {
						indicator.classList.remove("active");
						errorText.textContent = "";
						confirmPasswordInput.style.borderColor = "#A6A6A6";
					}
				});

				const form = document.querySelector("form");
				form.addEventListener("submit", (event) => {
					const password = passwordInput.value;
					const confirmPassword = confirmPasswordInput.value;

					if (password !== confirmPassword) {
						event.preventDefault();
						indicator.classList.add("active");
						errorText.textContent = "Passwords do not match";
						confirmPasswordInput.style.borderColor = "#FF6333";
					}
				});
			});
		</script>
	</body>
</html>
